
/* Nav */
.navbar
{
    margin-bottom: 0 !important;
}

#main-nav
{
    font-size: 18px;
}

.navbar-brand img
{
    max-height: 60px;
    margin-top: 15px;
}


.main-nav
{
    padding-top: 15px;
}

.main-account-nav
{
    font-size: 14px;
}

.main-account-nav li a
{
    padding-top: 10px;
    padding-right: 30px;
}

.navbar .divider-vertical
{
    height: 40px;
    margin: 0;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #efefef;
}

.navbar .divider-vertical-small
{
    height: 25px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ccc;
}

.navbar
{

}

.main-site-nav li a
{
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-collapse
{
    padding: 0;
}

.main-site-nav li a.selected
{
    background-color: #79afe5;
    color:#fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.main-site-nav li a.selected:hover
{
    background-color: #79afe5;
    color:#fff;
}

.sub-nav
{
    background-color: #79afe5;
    color: #fff;
}

.main-site-sub-nav li a
{
    color: #ddd !important;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.main-site-sub-nav li a:hover
{
    color: #fff !important;
}

.main-site-sub-nav li a.selected
{
    color: #fff !important;
}

ul.nav.navbar-nav.navbar-right.main-site-nav
{
    overflow: hidden; !important;
}

/* Slider */
.slider
{
    background: #000;
}

.slider img
{
    width: 100%;
    opacity: 0.5;
}

/* Section */
.section-title
{
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 46px;
}

#main-content
{
    margin-top: 30px;
}

/* PROPERTY LIST  */
#property-list
{
    border: none !important;
    box-shadow: none;
    min-height: 400px;
}

.property-list-item
{
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
}
.property-list-item:not(:last-child)
{
    border-bottom: 1px solid #ccc;
}

.property-list-item h3
{
    margin: 0 0 10px 0;
}

.progress
{
    margin-bottom: 5px;
}

#pager
{
    margin-bottom: 30px;
}

input[type="text"].search
{
    width: 100%;
    padding: 5px 10px;
}

/* Filters */
.filter-container
{

}

.filter-container h2
{
    margin-top: 0;
}





/* Footer */
.footer-container
{
    background-color: #000;
    color: #fff;
    padding-top: 40px;
}

.footer-nav-title
{
    font-size: 22px;
    color: #ccc;
}

.footer-nav
{
    margin: 0 0 30px 0;
    padding: 0;
    list-style-type: none;
}

.footer-nav li a
{
    color: #fff;
    font-size: 14px;
}

.footer-copy
{
    width: 100%;
}

.footer-sub-nav a
{
    color: #fff;
}


/* Forms */
input[type="text"], input[type="password"], input[type="email"]
{

}