
/* Nav */
.navbar
{
    margin-bottom: 0 !important;
}

#main-nav
{
    font-size: 18px;
}

.navbar-brand img
{
    max-height: 60px;
    margin-top: 15px;
}


.main-account-nav
{
    font-size: 14px;
}

.main-account-nav li a
{
    padding-top: 0;
    padding-right: 30px;
}

.navbar .divider-vertical
{
    height: 40px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #efefef;
}

.navbar .divider-vertical-small
{
    height: 25px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ccc;
}

.navbar
{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Slider */
.slider
{
    background: #000;
}

.slider img
{
    width: 100%;
    opacity: 0.5;
}

/* Section */
.section-title
{
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 46px;
}

/*********************/
/* Homepage Sections */
/*********************/

/* Trending Investments */
.trending-investments
{
    padding: 0px 15px 15px 15px;
    background-color: #efefef;
    border: 1px solid #ddd;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.trending-investments h4
{
    font-size: 26px;
}

.trending-investments img
{
    width: 100%;
}

.trending-investments .progress
{
    margin-bottom: 0;
}

.trending-investments .funded
{
    margin: 10px 0;
    padding: 0;
    font-size: 20px;
}

.trending-investments .funded span
{
    font-size: 14px;
}

.trending-investments a
{
    width: 100%;
    margin-top: 10px;
}

/* Recently funded */
.recently-funded-container
{
    margin-top: 20px;
    background-color: #eeeeee;
    padding-bottom: 40px;
}

.recently-funded
{
    padding: 0px 15px 15px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.recently-funded h4
{
    font-size: 26px;
}

.recently-funded img
{
    width: 100%;
}

.recently-funded .progress
{
    margin-bottom: 0;
}

.recently-funded .funded
{
    margin: 10px 0;
    padding: 0;
    font-size: 20px;
}

.recently-funded .funded span
{
    font-size: 14px;
}

.recently-funded a
{
    width: 100%;
    margin-top: 10px;
}


/* Footer */
.footer-container
{
    background-color: #000;
    color: #fff;
    padding-top: 40px;
}

.footer-nav-title
{
    font-size: 22px;
    color: #ccc;
}

.footer-nav
{
    margin: 0 0 30px 0;
    padding: 0;
    list-style-type: none;
}

.footer-nav li a
{
    color: #fff;
    font-size: 14px;
}

.footer-copy
{
    margin-top: 30px;
    padding-top: 15px;
    width: 100%;
    border-top: 1px dashed #ccc;
}

.footer-sub-nav a
{
    color: #fff;
}


/* Login */
.login-container
{
    text-align: center;
    width: 100%;
    background-color: #F7FAFA;
    padding-top: 40px;
    padding-bottom: 100px;
}

.login-container img
{
    margin-bottom: 20px;
}

.login-container .login-form
{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 391px;
    margin: 0 auto;
    border: 1px solid #ddd;
    text-align: left;
    background-color: #fff;
    padding: 30px;
}

.login-container .login-form h2
{
    padding: 0;
    margin: 0 0 20px 0;
}

.login-container .login-footer
{
    margin: 0 auto;
    text-align: center;
    background-color: #F7F7F8;
    width: 391px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.login-container .login-footer p
{
    margin: 0;
    padding: 20px 0;
    font-size: 18px;
    line-height: 26px;

}


/* Sign up */
.signup-container
{
    text-align: center;
    width: 100%;
    background-color: #F7FAFA;
    padding-top: 40px;
    padding-bottom: 150px;
}

.signup-container .signup-form
{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 391px;
    margin: 0 auto;
    border: 1px solid #ddd;
    text-align: left;
    background-color: #fff;
    padding: 30px;
}

.signup-container .signup-form h2
{
    padding: 0;
    margin: 0 0 20px 0;

}

.signup-container .signup-footer
{
    margin: 0 auto;
    text-align: center;
    background-color: #F7F7F8;
    width: 391px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.signup-container .signup-footer p
{
    margin: 0;
    padding: 20px 0;
    font-size: 18px;
    line-height: 26px;

}



/* Register */


/* Forms */
input[type="text"], input[type="password"], input[type="email"]
{
    padding: 30px 20px;
}

/* Alert */
.alert
{
    padding-left: 100px;
    padding-right: 100px;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
    text-align: left;
}

.alert .title
{
    margin-right: 10px;
    font-weight: bold;
}

.alert .message
{
    font-size: 12px;
}

.alert .close
{
    font-size: 12px;
    float: right;
}

